Source: libkgeomap
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake, debhelper (>= 9), pkg-kde-tools (>= 0.15.16), kdelibs5-dev
Standards-Version: 3.9.6
XS-Testsuite: autopkgtest
Homepage: https://projects.kde.org/projects/kde/kdegraphics/libs/libkgeomap
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/applications/libkgeomap.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/applications/libkgeomap.git

Package: libkgeomap2
Architecture: any
Depends: libkgeomap-data (>= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: World-Map Library interface for KDE - shared library
 Libkgeomap is a wrapper around different world-map components, to browse and
 arrange photos over a map.
 .
 This package contains the shared library.

Package: libkgeomap-data
Architecture: all
Depends: ${misc:Depends}
Description: World-Map Library interface for KDE - data files
 Libkgeomap is a wrapper around different world-map components, to browse and
 arrange photos over a map.
 .
 This package contains the data files.

Package: libkgeomap-dev
Section: libdevel
Architecture: any
Depends: libkgeomap2 (= ${binary:Version}), ${misc:Depends}
Description: World-Map Library interface for KDE - development files
 Libkgeomap is a wrapper around different world-map components, to browse and
 arrange photos over a map.
 .
 This package contains the development files.

Package: libkgeomap-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libkgeomap2 (= ${binary:Version}), ${misc:Depends}
Description: World-Map Library interface for KDE - debugging symbols
 Libkgeomap is a wrapper around different world-map components, to browse and
 arrange photos over a map.
 .
 This package contains debugging files used to investigate problems with
 binaries included in the library.
